<div class="col">
  <ul>
    <li>
      <a href="{% url 'league' 'england/premier-league' %}">premier-league</a>
    </li>
    <li>
      <a href="{% url 'league' 'england/championship' %}">Championship</a>
    </li>
    <li>
      <a href="{% url 'league' 'england/league-one' %}">League 1</a>
    </li>
    <li>
      <a href="{% url 'league' 'england/league-two' %}">Championship</a>
    </li>
    <li>
      <a href="{% url 'league' 'germany/bundesliga' %}">Bundesliga</a>
    </li>
    <li>
      <a href="{% url 'league' 'germany/2-bundesliga' %}">Bundesliga-2</a>
    </li>
    <li>
      <a href="{% url 'league' 'spain/laliga' %}">LaLiga</a>
    </li>
    <li>
      <a href="{% url 'league' 'italy/serie-a' %}">Italy Seria A</a>
    </li>
    <li>
      <a href="{% url 'league' 'scotland/premiership' %}">Scotland premiership</a>
    </li>
    <li>
      <a href="{% url 'league' 'scotland/championship' %}">Scotland Championship</a>
    </li>
    <li>
      <a href="{% url 'league' 'brazil/serie-a' %}">Brazil Serie A</a>
    </li>
    <li>
      <a href="{% url 'league' 'belarus/vysshaya-liga' %}">Belarus</a>
    </li>
    <li>
      <a href="{% url 'league' 'egypt/premier-league' %}">Egypt premier-league</a>
    </li>
    <li>
      <a href="{% url 'league' 'china/super-league' %}">China Super league</a>
    </li>
    <li>
      <a href="{% url 'league' 'argentina/liga-profesional' %}">Argentina</a>
    </li>
    <li>
      <a href="{% url 'league' 'usa/mls' %}">USA MLS</a>
    </li>
    <li>
      <a href="{% url 'league' 'japan/j1-league' %}">Japan J1</a>
    </li>
    <li>
      <a href="{% url 'league' 'norway/eliteserien' %}">Norway eliteserien</a>
    </li>
    <li>
      <a href="{% url 'league' 'sweden/allsvenskan' %}">Sweden allsvenskan</a>
    </li>
    <li>
      <a href="{% url 'league' 'norway/obos-ligaen' %}">Norway obos-ligaen</a>
    </li>
    <li>
      <a href="{% url 'league' 'sweden/superettan' %}">Sweden superettan</a>
    </li>
  </ul>
</div>
