<div class="col">
  <ul>
    <li>
      <a href="{% url 'league' 'england-Premier League' %}">premier-league</a>
    </li>
    <li>
      <a href="{% url 'league' 'england-Championship' %}">Championship</a>
    </li>
    <li>
      <a href="{% url 'league' 'england-League One' %}">League 1</a>
    </li>
    <li>
      <a href="{% url 'league' 'england-League Two' %}">Championship</a>
    </li>
    <li>
      <a href="{% url 'league' 'germany-Bundesliga' %}">Bundesliga</a>
    </li>
    <li>
      <a href="{% url 'league' 'germany-2 Bundesliga' %}">Bundesliga-2</a>
    </li>
    <li>
      <a href="{% url 'league' 'spain-Laliga' %}">LaLiga</a>
    </li>
    <li>
      <a href="{% url 'league' 'italy-Serie A' %}">Italy Seria A</a>
    </li>
    <li>
      <a href="{% url 'league' 'scotland-Premiership' %}"
        >Scotland premiership</a
      >
    </li>
    <li>
      <a href="{% url 'league' 'scotland-Championship' %}"
        >Scotland Championship</a
      >
    </li>
    <li>
      <a href="{% url 'league' 'brazil-Serie A' %}">Brazil Serie A</a>
    </li>
    <li>
      <a href="{% url 'league' 'belarus-Vysshaya Liga' %}">Belarus</a>
    </li>
    <li>
      <a href="{% url 'league' 'egypt-Premier League' %}"
        >Egypt premier-league</a
      >
    </li>
    <li>
      <a href="{% url 'league' 'china-Super-League' %}">China Super league</a>
    </li>
    <li>
      <a href="{% url 'league' 'argentina-Liga Profesional' %}">Argentina</a>
    </li>
    <li>
      <a href="{% url 'league' 'usa-Mls' %}">USA MLS</a>
    </li>
    <li>
      <a href="{% url 'league' 'japan-J1 League' %}">Japan J1</a>
    </li>
    <li>
      <a href="{% url 'league' 'norway-Eliteserien' %}">Norway eliteserien</a>
    </li>
    <li>
      <a href="{% url 'league' 'sweden-Allsvenskan' %}">Sweden allsvenskan</a>
    </li>
    <li>
      <a href="{% url 'league' 'norway-Obos Ligaen' %}">Norway obos-ligaen</a>
    </li>
    <li>
      <a href="{% url 'league' 'sweden-Superettan' %}">Sweden superettan</a>
    </li>
  </ul>
</div>
